:root {
  --primary-color: #2196f3;
  --primary-color-light: #6ec6ff;
  --primary-color-dark: #0069c0;
  --secondary-color: #263238;
  --secondary-color-light: #e0e0e0;
  --secondary-color-dark: #000a12;
}

body {
  font-family: monospace;
  overflow-x: hidden;
  max-width: 100%;
  background-color: var(--secondary-color-light);
  mix-blend-mode: soft-light;
}

/** Requirement Container **/
.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.requirement-header {
  font-size: 1.7em;
  margin: 0;
  padding: 0;
  color: var(--primary-color-light);
  mix-blend-mode: hard-light;
  background-color: var(--secondary-color-dark);
}

.requirement {
  margin: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

/* Type card */
.type-header {
  font-size: 1.4em;
  margin: 0;
  font-weight: 800;
  color: var(--secondary-color-dark);
  background-color: var(--primary-color-light);
  opacity: .9;
  mix-blend-mode: hard-light;
}

/* Resource button */
.resource {
  font-family: Arial;
  margin: 1%;
  border: 2px groove var(--secondary-color-dark);
  border-radius: 5px;
  background-color: var(--primary-color-light);
  box-shadow: 2px 1px 6px var(--secondary-color-light);
}

.resource:hover {
  background-color: var(--primary-color);
}

.link {
  text-decoration: none;
  color: var(--secondary-color-dark);
}
