/** Requirement Container **/
.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.requirement-header {
  font-size: 1.7em;
  margin: 0;
  padding: 0;
  color: var(--primary-color-light);
  mix-blend-mode: hard-light;
  background-color: var(--secondary-color-dark);
}

.requirement {
  margin: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

/* Type card */
.type-header {
  font-size: 1.4em;
  margin: 0;
  font-weight: 800;
  color: var(--secondary-color-dark);
  background-color: var(--primary-color-light);
  opacity: .9;
  mix-blend-mode: hard-light;
}
